{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
<style type="text/css" media="screen">
    #editor{
    padding:15px 10px;
    border-top :3px solid #BBBB;
    height:500px;
    width:600px;
    font-size:12px;
    background-color:#FFFF;
    }
    .txtedit{
        height:500px;
        width:600px;
    }
    .btnStyle{
        height:50px;
        width:100px;
    }
    .qst{

        font-family:"Times New Roman", Times, serif;
        font-size: 20px;

    }
</style>
{% endblock %}

{% block content %}

<script src="/static/builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery.js" type="text/javascript"></script>
{% for quest in questions %}
<div class="qst">{{quest.question}}</div>
<table id="main_content{{quest.qid}}">
<tr class="txtedit">
<td>
<form id="form_tt">
{% csrf_token %}
<div id="editor">
    <pre>{% if content %}{{content}}{% else %}THis is sample content for pgm{% endif %}</pre>
</div>
<input type="image" src="/static/img/run.jpeg" id="submit_btn" alt="submit" class="btnStyle"/>
<input type="image" src="/static/img/save.jpeg" alt="submit" class="btnStyle"/>
</form>
</td>
<td>
<div id="target">
    <iframe id="result" name="contentview" src='/static/sample.html' height="525px" width="600px" align="right"></iframe>
</div>
</td>
</tr>
</table>
{% endfor %}

<script>
    var editor = ace.edit('editor');
    editor.setTheme("ace/theme/terminal");
    editor.getSession().setMode("ace/mode/python");
    editor.setHighlightActiveLine(false);
    $("#submit_btn").click(function (event)
        {
            event.preventDefault();
            code_data = editor.getValue();
            $.ajax({
                type: "GET",
                url: "/tests/execute_code/",
                data: {code:code_data, qid:1},
                dataType: 'json',
                success: function(response) {
                    $("#result").contents().find('html').html(response.result);
                }
           });
     });
</script>


{% endblock %}