{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
{% endblock %}
{% block content %}
       <div id="editor">
           function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
        }
       </div>
    <script src="/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.getSession().setUseWorker(false);
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");
        editor.getSession().setUseWrapMode(true);
        editor.getSession().setTabSize(2);
        editor.setOptions({
            maxLines: 50
        });
    </script>
{% endblock %}