{% extends "admin/base_site.html" %}
{% block content %}
<div id="content-main">
<form action="test/register/" method="post" id="register_form">
{% csrf_token %}
 {{ form.as_p }}
    <input type="submit" value="register" />
 </div>
</form>
{% endblock %}
